<!-- HEAD -->
{{> head }}

<!-- NAV -->
{{> navbar }}

<!-- ABOUT -->
<div class="row">
    <div class="col-8">
        Columna 1
    </div>

    <div class="col-4">
        Columna 2
        <img src="assets/img/node.jpg" class="img-thumbnail">
    </div>
</div>


<!-- FOOTER -->
{{> footer }}